# Used in detection of handwritten text using OCR
# Get you own free api key from google studio
# Replace the place holder text below with your original api, copy this file and rename it to .env and save it
GEMINI_API_KEY="YOUR_API_KEY_HERE"
